@{
    ViewData["Title"] = "Contatos";
}
<h1>@ViewData["Title"]</h1>

<p>Página privacy alterada para Contatos</p>
<div class="container">
    <h1 class="text-center pt-3">
        Teste de filtro
    </h1>
    <div class="filters">
        <ul class="btn-group simplefilter d-flex p-2">
            <li class="btn btn-primary m-1 filtr-controls badge-pill" data-filter="all">Todos</li>
            <li class="btn btn-primary m-1 filtr-controls badge-pill" data-filter="1">Cidade</li>
            <li class="btn btn-primary m-1 filtr-controls badge-pill" data-filter="2">Industria</li>
            <li class="btn btn-primary m-1 filtr-controls badge-pill" data-filter="3">Natureza</li>
            <li class="btn btn-primary m-1 filtr-controls badge-pill" data-filter="4">Dia</li>
            <li class="btn btn-primary m-1 filtr-controls badge-pill" data-filter="5">Tarde</li>
            <li class="btn btn-primary m-1 filtr-controls badge-pill" data-filter="6">Noite</li>
            <li class="btn btn-primary m-1 filtr-controls badge-pill" data-multifilter="7">MultiFiltro</li>
        </ul>
        <div class="additional p-2 d-flex justify-content-between">
            <button class="btn btn-warning" id="shuffle">Embaralhar</button>
            <div class="input-group pl-2 pr-2">
                <input type="text" value="" placeholder="buscar..." class="form-control filtr-controls filtr-search" data-search>
            </div>
            <div class="input-group">
                <div class="btn-group pr-2">
                    <button class="btn btn-danger filtr-controls" id="asc-btn">Asc</button>
                    <button class="btn btn-danger filtr-controls" id="des-btn">Des</button>
                </div>
                <select data-sortOrder class="custom-select filtr-controls">
                    <option \value="sortData" class="filtr-controls">Ordenar por</option>
                    <option value="sortData" class="filtr-controls">Autor</option>
                </select>
            </div>
        </div>
    </div>
    <div class="cards d-flex row filter-container">
        <div class="card filtr-item col-lg-4" data-category="1, 5" data-sort="value" data-author="">
            <img src="~/media/city_1.jpg" alt="sample" />
            <div class="filtr-title">Cidade 1</div>
        </div>
        <div class="card filtr-item col-lg-4" data-category="1, 6, 7" data-sort="value" data-author="">
            <img src="~/media/city_2.jpg" alt="sample" />
            <div class="filtr-title">Cidade 2</div>
        </div>
        <div class="card filtr-item col-lg-4" data-category="1, 4" data-sort="value" data-author="">
            <img src="~/media/city_3.jpg" alt="sample" />
            <div class="filtr-title">Cidade 3</div>
        </div>
        <div class="card filtr-item col-lg-4" data-category="2, 7" data-sort="value" data-author="">
            <img src="~/media/industrial_1.jpg" alt="sample" />
            <div class="filtr-title">Industria 1</div>
        </div>
        <div class="card filtr-item col-lg-4" data-category="2, 4" data-sort="value" data-author="">
            <img src="~/media/industrial_2.jpg" alt="sample" />
            <div class="filtr-title">Industria 2</div>
        </div>
        <div class="card filtr-item col-lg-4" data-category="2, 5" data-sort="value" data-author="">
            <img src="~/media/industrial_3.jpg" alt="sample" />
            <div class="filtr-title">Industria 3</div>
        </div>
        <div class="card filtr-item col-lg-4" data-category="3, 5" data-sort="value" data-author="">
            <img src="~/media/nature_1.jpg" alt="sample" />
            <div class="filtr-title">Natureza 1</div>
        </div>
        <div class="card filtr-item col-lg-4" data-category="3, 6, 7" data-sort="value" data-author="">
            <img src="~/media/nature_2.jpg" alt="sample" />
            <div class="filtr-title">Natureza 2</div>
        </div>
        <div class="card filtr-item col-lg-4" data-category="3, 4" data-sort="value" data-author="">
            <img src="~/media/nature_3.jpg" alt="sample" />
            <div class="filtr-title">Natureza 3</div>
        </div>
    </div>
</div>