@{
    ViewData["Title"] = "Sobre/QuemSomos";
}


<hr />
<br />
<div class="container">

    <div>
        <div class="caption v-middle text-center">
            <h1 class="cd-headline clip">
                <span class="blc">Nós somos | </span>
                <span class="cd-words-wrapper">
                    <b class="is-visible">front end.</b>
                    <b>back end.</b>
                    <b>Power Ranger.</b>
                    <b>A Equipe 13.</b>
                </span>
            </h1>
        </div>
        <main class="page">
            <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">                   
                    
                    <div class="block-heading"><img src="~/media/grupo.png" style="width: 100%;"></div>
                </div>
            </div>
        </section>
    </main>
        </main>

    </div>

</div>