@{
    ViewData["Title"] = "Sobre/QuemSomos";
}



<hr />


<div class="container text-center">

    <br />
    <div class="page gallery-page">
        <section class="clean-block clean-gallery dark">
            <div class="container">
                <div class="block-heading">
                    <h1 class="text-info">White Noise</h1>
                    <p>Escolha um tipo de som para ser ouvido como barulho de fundo.</p>
                </div>
                <div class="row" style="align-items:center; justify-content:center">

                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container wrap" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont align-items-center"  style="background: #87CEEB; width: 170px; height: 130px; ali;>
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/rain (1).png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Chuva</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #87CEEB; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/rain (1).png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Chuva</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #87CEEB; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/rain (1).png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Chuva</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #00BFFF; width: 170px; height: 130px;">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/cascata.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Cascata</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #4169E1; width: 170px; height: 130px;">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/onda.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Ondas</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #1E90FF; width: 170px; height: 130px;">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/chuveiro.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Chuveiro</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #8FBC8F; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/wind.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Vento</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #8FBC8F; width: 170px; height: 130px;">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/brisa.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Brisa</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #836FFF; width: 170px; height: 130px;">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/gravida.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Últerino</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #DB7093; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/car (1).png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Carro</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #DB7093; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/television.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Televisão</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #DB7093; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/radio.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Radio</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #DB7093; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/aquecedor.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Aquecedor</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #DB7093; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/ar-condicionado.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Ar cond</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #DB7093; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/aspirador-de-po.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Aspirador</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #DB7093; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/secador-de-cabelo.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Secador</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #DB7093; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/ventilador-de-mesa.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Ventilador</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item mb-2 rounded-lg w-noise-container" >
                        <div class="img-thumbnail img-fluid image text-center w-noise-cont"  style="background: #DB7093; width: 170px; height: 130px; ">
                            <img class="w-noise-img "  style="width: 75px; height: 75px;" src="/icons/aquecedor.png">
                            <h4 class="w-noise-texto pt-2" style="font-weight:bolder;">Aquecedor</h4>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>

</div>
